.layout {
  text-align: center;
}

.container {
  width: 100%;
  background: var(--main-bg-color); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--main-bg-lft),
    var(--main-bg-color)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--main-bg-lft),
    var(--main-bg-color)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding-top: 5rem;
}

.container h1 {
  color: white;
}

.container div section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 2rem;
  margin-top: 2rem;
  padding-left: 0.5rem;
}
