.home h1 {
  color: white;
  margin-bottom: 2rem;
}

.home input {
  border-radius: 10rem;
  line-height: 2.5rem;
  width: 39vw;
  margin-right: 7px;
  padding-left: 1rem;
}

.home button {
  border-radius: 10rem;
  line-height: 2.5rem;
  width: 7vw;
  font-weight: 500;
  background-color: antiquewhite;
  margin-bottom: 2rem;
}
