.home h1 {
  color: white;
  margin-bottom: 2rem;
}

.home input {
  border-radius: 10rem;
  line-height: 2.5rem;
  width: 39vw;
  margin-right: 7px;
  padding-left: 1rem;
}

.home button {
  border-radius: 10rem;
  line-height: 2.5rem;
  width: 7vw;
  font-weight: 500;
  background-color: antiquewhite;
}

.home form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 720px) {
  .home input {
    width: 65vw;
  }
  .home form {
    flex-direction: column;
  }

  .home button {
    width: 31vw;
    margin-top: 2rem;
    font-size: 1.2rem;
  }
}
