.container {
  margin-bottom: 2rem;
}

.details {
  color: rgb(219, 219, 183);
  margin-top: 1rem;
  line-height: 1rem;
  padding: 0 1 rem;
  text-align: left;
}

.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marginBtm {
  margin-bottom: 2rem;
}

.icon {
  width: 1.4rem;
  transform: translateY(-3px);
  color: rgb(219, 219, 183);
}

.plot {
  line-height: 1.5rem;
}

.details h2 {
  color: var(--overhang-color);
  text-align: center;
}

.poster {
  background-color: black;
}

.poster img {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.label {
  color: #cac4ce;
}

@media screen and (max-width: 720px) {
  .meta {
    width: 84%;
  }
}
