.container {
  margin-bottom: 2rem;
}

.details {
  color: white;
  margin-top: 1rem;
  line-height: 1rem;
  padding: 0 1 rem;
}

.details h2 {
  color: var(--overhang-color);
}

.container img {
  width: 100%;
  max-width: 350px;
  height: auto;
}
