.container {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
}

.details {
  color: white;
  margin-top: 1rem;
  line-height: 1rem;
  text-align: left;
}

.details h2 {
  color: var(--overhang-color);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4.5rem;
}

.details p {
  color: rgb(219, 219, 183);
}
