.container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  color: white;
  margin-top: 1rem;
  line-height: 1rem;
  text-align: left;
  padding: 1rem;
}

.container div {
  margin: 1rem 0;
}

@media screen and (min-width: 950px) {
  .container {
    flex-direction: row;
    padding: 0;
  }
  .container div {
    margin: 0 2rem;
  }
}

.title {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 53.5 rem;
}

.title span {
  color: var(--overhang-color);
  font-size: 1.4rem;
}

.container div p {
  color: rgb(219, 219, 183);
}
