@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

/* 
  #2d3436 Onyx
  #8d86c9 Middle Blue Purple
  #cac4ce Lavender Gray
  #f7ece1 Linen
  #d1d6646 Maximum Green Yellow
*/

:root {
  --main-bg-color: #2d3436;
  --main-bg-lft: #29323c;
  --detail-title-color: #cac4ce;
  --overhang-color: #d1d646;
  --overhang-bg-color: #485563;
}

h1 {
  font-weight: 600;
}
